$context: #0a0505;
$background: #f1f1f1;
$opacity-background: #2228;
// $secondary: #33A383;
// $accent: #aec18b;

$disabled: #B0B0B0;
$input-box-error: #ff8283;
$input-box-error-hover: #ff2223;
$sidebar-icon: #077093;
$icon-hover: #83838330;
$example-pre: #dddddd;
$camera-select: #0f6df1;
$camera-select-background: #999999;
$select-background: #c5c5c5;
$scan: #9cd3c6;
$download-file-background: #e0e0e0;
// $progress-background: #DDD;
// $progress-bar: #999;

$printer: #649ce1;
$printer-idle: #0a8312;
$printer-pause: #c8a90d;
$printer-error: #d20f05;

$create: #73b8cf;
$refresh: #8acb8d;
$edit: #947b37;
$download: #FFA500;

$error: #ff8283;
$close: #ff6565;
$accept: #8acb8d;
$logout: #FF3333;
// $border-color: #777777;